body {
    background-image: url("../images/bg.jpg");
}
h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
select {
    width: 200px;
    height: 60px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
#reload {
    width: 200px;
    height: 60px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    cursor: pointer;
    background-color: #549189;
}