{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block content %}

<h1>Новости</h1>
<form method="post">
    <select name="adress">
        {% if current_user.is_authenticated %}
        {% for channel in channels %}
            <option value={{ channel }}>{{ channel }}</option>
        {% endfor %}
        {% else %}
            <option value="melfm">Мел</option>
            <option value="rian_ru">РИА</option>
            <option value="habr_com">Хабр</option>
            <option value="vysokygovorit">Старше Эдды</option>
        {% endif %}
    </select>

    <select name="newsAmount">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <select name="theme">
        <option value="dark"> Темная тема </option>
        <option value="light"> Светлая тема </option>
    </select>
    <br>
    <input id="reload" type="submit" value="обновить">
</form>
{% if theme == "dark" %}
    <div>{% set a = "1" %}</div>
{% else %}
    <div>{% set a = "0" %}</div>
{% endif %}

{% for url in urls %}
<script async src="https://telegram.org/js/telegram-widget.js?22"
        data-telegram-post={{ url }} data-width="100%" data-dark={{ a }}></script>
{% endfor %}

{% endblock %}
